@import "function.less";
#blog-breadcrumb{
	padding-top: 10px;
	background-color: #f8f8f8 !important;
	border-bottom: 1px solid #e5e5e5;
}

.sub-heading(){
	display: flex;
		flex-direction: row;
		span{
			color: grey;
			font-size: 12px;
			b{
			color: #694d94;
			}
		}	
}
#blog-item1{
	margin-bottom: 300px;
	background: url("../images/bg-service.png") no-repeat;
	/*css for left item of blog*/
	.item1-heading{
		.item-heading();
	}
	.item1-sub-heading{
		.sub-heading();
		padding-bottom: 20px;
		padding-top: 10px;
	}
	.blog-seperator{
		.seperator();
	}
	.blog-item-inner{
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-direction: row;
		p{
			font-size: 12px;
			color: grey;
			overflow: hidden;
			width: 60%;
			line-height: 150%;
		}
		img{
			float: right;
			width: 35%;
			margin-left: 40px;
		}
	}
	.blog-item-inner-1{
		padding-bottom: 20px;
		p{
			font-size: 12px;
			color: grey;
			width: 100%;
			line-height: 200%;	
		}
		.row-image-inner{
			padding-top: 20px;
			margin-bottom: 20px;
		}
	}
	a{
			text-transform: uppercase;
			font-size: 12px;
			color: white;
			font-weight: bold;
			padding: 10px 20px 10px 20px;
			text-decoration: none;
			background-color: #694d94;	
	}
	.end-item{
		margin-top: 30px;
		margin-bottom: 30px;
		.seperator();
	}
	/*css for right item of blog*/
	
	.search-item{
		.search-item-heading{
			.item-heading();
			h4{
				.right-sub-heading();
			}
			
		}
		form.search{
			padding-top: 20px;
			position: relative;
			input{
				width: 100%;
				height: 40px;
				border-radius: 3px;
				border: 1px solid grey !important;
			}
			button{
				padding: 7px;
				position: absolute;
				border: none;
				background-color: #694d94;
				text-transform: uppercase;
				color: white;
				font-weight: bold;
				right: 2%;
				top: 38%;
				border-radius: 2px;

			}
			
		}	
	}
	.comment-item{
		margin-top: 30px;
		.comment-item-heading{
			.item-heading();
			h4{
				.right-sub-heading();
			}
		}
		.comment-item-content{
			margin-top: 20px;
			p{
				font-size: 12px;
				color: #694d94;
				overflow: hidden;
				span{
					font-weight: bold;
				}
			}
		}
	}
	.post-item{
		margin-top: 30px;
		.post-item-heading{
			.item-heading();
			h4{
				.right-sub-heading();
			}
		}
		.post-item-content{
			h5{
				font-size: 12px;
				color: #694d94;
				font-weight: bold;
			}
		}
	}

}