@import "function.less";
#heading{
	background: url("../images/bg-service.png") no-repeat;
	.heading-title{
		.item-heading();
		h4{
			.right-sub-heading();
		}
	}
	.heading-item{
		margin-top: 30px;
		p{
			font-size: 12px;
			color: #727272;
			line-height: 170%;
		}
	}
	.divider-seperator{
		.seperator();
	}
}
/*css for gallery */
.gallery-divider{
	/*style for the left menu*/
	.menu-column{
		border: 1px solid #dddddd;
		padding-left: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #faf9f9;
		.nav-tabs{
			border-bottom: none;
		}
		.nav-tabs > li{
			float: inherit;
			position: relative;
			margin-left: -30px;

		}
		.nav-tabs > li > a{
			border-radius: 0 !important;
			margin-right: 0;
			padding-left: 30px;
			font-size: 12px;
			border: none;	
			color:  #727272;
			font-weight: bold;
			&:before{
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				bottom: 0px;
				width:0px;
				left: 100%;
				opacity: 0;
				border-bottom:19px solid transparent;
				border-top:19px solid transparent;
				border-left:10px solid #644a8e; /* Tam giác trái được đổ màu */
				}
				&:hover{
					box-shadow: inset 0 0 0 1px #563f7a,inset 0 -15px 30px #261247; 
					background-color: #644a8e;
					color: white !important;
					&:before{
						opacity: 1;
					}
				}
		}

		.nav-tabs > li.active > a{
			background-color: #faf9f9;
			padding-left: 0;
			color:  #727272;
			font-size: 12px;
			border: none;	
			padding-left: 30px;
			&:hover{
				color: #fff;
			}
		}
		.nav-tabs > li.active > a:hover{
			background-color: #644a8e;
			padding-left: 30px;
		}
		.menu-title{
			span{
				font-size: 14px;
			}
			img{
				padding-top: 30px;
			}
		}
	}
	/*style for the right menu*/
	.menu-column-right ul.nav-tabs{
		margin-left: -30px !important;
	}
	.menu-column-right{
		border: 1px solid #dddddd;
		padding-left: 30px;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: #faf9f9;
		.nav-tabs{
			border-bottom: none;
		}
		.nav-tabs > li{
			float: inherit;
			position: relative;

		}
		.nav-tabs > li > a{
			border-radius: 0 !important;
			margin-right: 0;
			padding-left: 30px;
			font-size: 12px;
			border: none;	
			color:  #727272;
			font-weight: bold;
			&:before{
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				bottom: 0px;
				width:0px;
				right: 100%;
				opacity: 0;
				border-bottom:19px solid transparent;
				border-top:19px solid transparent;
				border-right:10px solid #644a8e; /* Tam giác phải được đổ màu */

				}
				&:hover{
					box-shadow: inset 0 0 0 1px #563f7a,inset 0 -15px 30px #261247; 
					background-color: #644a8e;
					color: white !important;
					&:before{
						opacity: 1;
					}
				}
			}
		.nav-tabs > li.active > a{
			background-color: #faf9f9;
			padding-left: 0;
			color:  #727272;
			font-size: 12px;
			border: none;	
			padding-left: 30px;
			&:hover{
				color: #fff;
			}
		}
		.nav-tabs > li.active > a:hover{
			background-color: #644a8e;
		}
		.menu-title{
			span{
				font-size: 14px;
			}
			img{
				padding-top: 30px;
			}
		}
	}
	.tab-content{
		.tab-pane{
			.gallery-title{
				.item-heading();
				h4{
					.right-sub-heading();
				}
				.gallery-seperator{
					.seperator();
				}
			}
			.gallery-subtitle{
				.sub-title();
			}
			.grid{
				display: flex;
				flex-direction: row;
				flex-wrap:         wrap;
				.grid-item{
					margin-right: 50px;
					margin-bottom: 50px;
					position: relative;
				}
				.grid-item::before{
					content: "";
					background-color: #0b0806;
					position: absolute;
					opacity: 0.5;
					display:none;
				  	transition: all 1s;
				  	height: 92px;
				  	width: 92px;
				}
				.grid-item:hover:before{
					display: block;
				 	transition: all 1s;
				}
				.grid-item:hover .hover-gallery-item{
					display: block;
				}
				.hover-gallery-item{
					position:absolute;
					top: 35%;
					left: 40%;
					display: none;		
					i{
						color: white;
						text-align: center;
						font-size: 20px;
					}
				}
			}			
		}
	}	
	.end-gallery{
		.seperator();
	}
}
/*style for row tab*/
#row-tab{
	.tab-content{
		margin-top: 0px;
		margin-bottom: 50px;
		p{
			font-size: 12px;
			color: #727272;
			line-height: 200%;
			word-spacing: 0.2em;
			letter-spacing: 0.3px;
			border: 1px solid #ececec;
			padding: 20px;
		}
	}
	.row-menu{
		.nav-tabs{
			border-bottom: none;
		}
		.nav-tabs > li.active > a{
			background-color: #fff;
			border: none;
			font-weight: bold;
			font-size: 14px;
		}
		.nav-tabs > li.active > a:hover{
			background-color: #644a8e;
		}
		.nav-tabs > li{
			float: left;
			position: relative;

		}
		.nav-tabs > li > a{
			border-radius: 0 !important;
			font-size: 14px;
			border: none;	
			color:  #000;
			font-weight: bold;
			&:before{
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				bottom: 0px;
				top: 100%;
				width:0px;
				right: 0;
				opacity: 0;
				border-left:33px solid transparent;
				border-right:33px solid transparent;
				border-top:15px solid #644a8e; /* Tam giác phải được đổ màu */

				}
				&:hover{
					background-color: #644a8e;
					color: white !important;
					&:before{
						opacity: 1;
					}
				}
			}
	}
	.end-gallery{
		.seperator();
	}
}
/*style for accordion item*/
#accordion-gallery{
	.accordion-item{
		button.accordion {
			background-color: #fff;
		    color: #444;
		    cursor: pointer;
		    width: 30%;
		    border: none;
		    text-align: left;
		    outline: none;
		    font-size: 20px;
		    transition: 0.4s;
		    position: relative;
		    padding-left: inherit;
		    margin-top: 10px;
		    h3{
		    	font-size: 14px;
		    	margin-left: 50px;
		    	color: #000;
		    	font-weight: bold;
		    	position: absolute;
		    	margin-top: 5px;
		    }
		}
		button.accordion.active, button.accordion:hover {
   			 h3{
   			 	color: #805fb3;
   			 }
		}
		button.accordion:after {
		    content: '\02795';
		    font-size: 20px;
		    color: #fff;
		    float: left;
		    background-color: #000;
		    padding-left: 5px;
		    padding-right: 5px;
		    border-radius: 3px;
		}
		button.accordion:hover:after{
			background-color: #805fb3;
		}
		button.accordion.active:after {
   		 content: "\2796";
   		 background-color: #805fb3;
		}
		button.accordion.active:hover:after{
			background-color: #805fb3;
		}
		div.panel {
		    background-color: white;
		    max-height: 0;
		    overflow: hidden; 
		    transition: 0.6s ease-in-out;
		    opacity: 0;
		    margin-bottom: 0px;
		    p{
		    	color: #727272;
		    	font-size: 12px;
		    	padding-bottom: 0px;
		    }
		}
		div.panel.show {
			    opacity: 1;
			    max-height: 500px;  
		}
	}
	.end-gallery{
		.seperator();
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
/*style for divider table*/
#divider-table{
	table.table{
		border-top: 1px solid #e5e5e5;
		border-bottom: 1px solid #e5e5e5;
		thead{
			tr.tb-title{
				font-size: 14px;
				font-weight: bold;
				background-color: #f9f8f8;
				border-bottom: 1px solid #e5e5e5;
				border-top: 1px solid #e5e5e5;
				&:hover{
					border-bottom: 1px solid #7d5cae;
					border-top: 1px solid #7d5cae;
					color: #7d5cae;
				}
			}
		}
		tbody{
			tr.tb-content{
				font-size: 12px;
				color: #727272;
				td.odd{
					background-color: #f5f5f5;
				}
				td.even{
					background-color: #fff;
				}
				&:hover{
					border-bottom: 1px solid #7d5cae;
					border-top: 1px solid #7d5cae;
					color: #7d5cae;
					td.first{
						font-weight: bold;
					}
				}
			}
		}		
	}
	.end-gallery{
		.seperator();
		margin-top: 30px;
		margin-bottom: 30px;
	}
}
/*style for the last item of divider*/
#last-item{
	padding-bottom: 300px;
	.heading-divider{
		text-transform: uppercase;
	}
	.button-type-1{
		padding-top: 25px;
		button{
			text-transform: uppercase;
			font-size: 12px;
			margin-right: 10px;
			margin-bottom: 15px;
			color: white;
			background-color: #7a5aab;
			border: none;
			font-weight: bold;
			box-shadow: inset 0 0 0 1px #563f7a,inset 0 -15px 30px #261247; 	
			
		}
		button.bt-1{
			border-radius: 3px;
			padding: 13px;
		}
		button.bt-2{
			border-radius: 5px;
			padding: 13px; 
		}
		button.bt-3{
			border-radius: 12px;
			padding: 13px; 
		}
		button.bt-4{
			border-radius: 20px;
			padding: 13px; 
		}
		button.bt-5{
			border-radius: 3px;
			padding-left: 13px;
			padding-right: 13px;
			padding-top: 8px;
			padding-bottom: 8px; 
		}
		button.bt-6{
			border-radius: 5px;
			padding-left: 13px;
			padding-right: 13px;
			padding-top: 8px;
			padding-bottom: 8px; 
		}
		button.bt-7{
			border-radius: 12px;
			padding-left: 13px;
			padding-right: 13px;
			padding-top: 8px;
			padding-bottom: 8px; 	
		}
		button.bt-8{
			border-radius: 20px;
			padding-left: 13px;
			padding-right: 13px;
			padding-top: 8px;
			padding-bottom: 8px; 	
		}

	}
	.button-type-2{
		padding-top: 25px;
		button{
			text-transform: uppercase;
			font-size: 12px;
			margin-right: 8px;
			margin-bottom: 13px;
			color: white;
			background-color: #58407d;
			border: none;
			font-weight: bold;
			box-shadow: inset 0px -2px 1px 1px #43325f,inset  0 -15px 30px #5e4585;
			border: 1px solid #443262;		
		}
		button.bt1{
			border-radius: 3px;
			padding: 15px;		
		}
		button.bt2{
			border-radius: 5px;
			padding: 15px;		
		}
		button.bt3{
			border-radius: 12px;
			padding: 15px;		
		}
		button.bt4{
			border-radius: 20px;
			padding: 15px;		
		}
		button.bt5{
			border-radius: 3px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;	
		}
		button.bt6{
			border-radius: 5px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;	
		}
		button.bt7{
			border-radius: 12px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;	
		}
		button.bt8{
			border-radius: 20px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 10px;
			padding-bottom: 10px;	
		}
	}
}