// Bootstrap
@import 'bootstrap/bootstrap';

section{
	padding-top: 45px;

}
.navbar-nav > li.make-apoint{
	background-color: #7c5cad;
	padding-bottom: 0px;
	border-radius: 5px;
}
@media screen and (max-width: 1024px) {
	.navbar-toggle
}