// Bootstrap
@import 'bootstrap/bootstrap';

section{
	padding-top: 45px;
}
@font-face{
	font-family: "LeagueGothic-Regular";
	 src: url('../fonts/LeagueGothic-Regular.otf');
}
/*css for navbar*/
nav{
	width: 100%;
}
.navbar-default .navbar-nav > .open > a{
    background-color: rgba(12, 8, 8, 0.74) !important;
    color: white !important;
}
.navbar-default .navbar-nav > .open > a:hover{
    background-color: rgba(12, 8, 8, 0.74) !important;
    color: white !important;
}

.navbar-nav > li.make-apoint{
	background-color: #7c5cad;
	padding-bottom: 0px;
	border-radius: 5px;
}
/*add css for dropdown menu*/
.navbar-nav > li > .dropdown-menu{
    margin-top:  5px !important;
}
.dropdown-menu li hr{
    margin: 0 !important;
   border-top: 1px solid grey !important;
}

@media screen and (max-width: 1024px) {
	.navbar-toggle
}
/*css for header*/
#slider{	
	position: relative;
	.container-fluid{
		position: absolute;
		top: 0;left: 0;right: 0;bottom: 0;
		.container{
			position: relative;
			height: 100%;
			.controls{
				position: absolute;
				top: 65%;
				z-index: 1000;
				a.left-control{
					text-decoration: none !important;	
				}
				a.left-control:hover{
					text-decoration: none !important;
				}	
			}	
			.right-slider{
			float: right;
			position: absolute;
			right: 0px;
			top: 20%;
				.right-slider-inner{
					position: absolute;
					float: right;
					img{
						float: right;
						right: 110px;
						padding-right: 5px;
						
					}
					span{
						width: 215px;
						font-size: 18px;
						background-color: #303030;
						color: white;
						padding: 10px;
						padding-left: 42px;	
						padding-right: 42px;
						border-bottom: 1px solid black;
					}
					ul{
						width: 215px;
						border: 5px solid #303030;

						li{
							list-style-type: none;
							padding: 10px;
							margin-left: -40px;
							background-color: #303030;

							a{
								color: white;
								font-size: 12px;
							}
							a.time{
								float: right;
								color: #505050;
							}
							a.current{
								color: #6e519b;
							}
						}
						li.odd{
							background-color: #212121;
						}
					}
				}	
			}
			.header-socials{
			position: absolute;
			float: right;
			display: flex;
			flex-directin: row;
			right: 0px;
			top: 90%;
				.social-item{
					background-color: #303030;
						margin-left: 20px;
						padding: 5px;
						height: 30px;
						width: auto;
						text-align: center;
					i{
						font-size: 22px;	
						color: white;
						&:hover{
							color: #00bff3;
						}	
					}
					i.fa-facebook{
						padding-left: 5px;
						padding-right: 5px;
					}
				}	
			}
		}
	}
}

.heading(){
	span{
			font-size: 20px;
			text-transform: uppercase;	
		}
		h4{
			font-size: 13px;
			color: #b0b0b0;
		}
		p{
			font-size: 13px;
		}
}
/*css for service here*/
#services{
	background: url("../images/bg-service.png") no-repeat;
	.service-heading{
		.heading();
	}
	.service-item{
        .sv-image{
            position: relative;
            margin-bottom: 20px;
        }    
		span{
            margin-top: 20px;
			font-size: 16px;
			font-weight: bold;
		}
		p{
			font-size: 13px;
			color: #727272;
			a{
				color: #8a6eb9;
				font-weight: bold;
			}
		}   
	}
    .sv-image::before{
        content: "";
        background-color: #636161;
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.5;
        transition: all 2s;
    }
    .sv-image:hover:before{
        display: block;

    }
   .sv-image:hover .sv-hover-inner{
        display: block;
        transition: all 2s;
    }
        
    .sv-hover-inner{
        position: absolute;
        top: 50%;
        left: 30%;
        display: none;
            a{
                padding: 10px;
                background-color: black;
                color: white;
                text-transform: uppercase;
                font-weight: bold;
                text-decoration: none;
            }
        }
}
/*css for lastest new*/
#news{
	padding-bottom: 30px;
	.new-heading{
		span{
			font-size: 20px;
		}
		h4{
			font-size: 13px;
			color: #b0b0b0;
		}
		.view-all{
			float: right;
			button{
				text-transform: uppercase;
				padding: 10px;
				background-color: #7959a9;
				border-radius: 5px;
				border: none;
				color: #fff;
				font-weight: bold;
				box-shadow: inset 0 0 0 1px #563f7a,inset 0 -15px 30px #261247; 
			}
		}
	}
	.all-item{
		display: flex;
		flex-direction: row;
		.new-middle-line{
			display: none;
		}
		.new-item{
			span{
				font-size: 16px;
				font-weight: bold;

			}
			p{
			font-size: 13px;
			color: #727272;
				a{
					color: #8a6eb9;
					font-weight: bold;
				}
			}
			h4{
				text-transform: uppercase;
			}
		}
	}
	.gallery{
		.gallery-heading{
			
			.heading();
			.customNavigation{
				marign-right: 20px;
				float: right;
				a.btn{
					margin-right: -20px;
				}
				
				i{
					border-radius: 3px;
					padding: 5px;
					font-size: 10px;
					background-color: #bfbfbf;
					color: white;
					text-align: center;
	
					&:hover{
						background-color: black;
					}
				}
			}
		}
		.gallery-item{
			.owl-pagination{
				display: none !important;
			}
			.item{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
				.row-image{
				margin-top: 15px;
				margin-right: 20px;
				position: relative;
				}
			}
			
			.row-image::before{
				content: "";
				background-color: #281916;
				position: absolute;
				opacity: 0.8;
				display:none;
			  	transition: all 1s;
				width: 62px;
				height: 62px;
			}
			.row-image:hover:before{
				display: block;
			 	transition: all 1s;
			}
			.row-image:hover .hover-inner{
				display: block;
			}
			.hover-inner{
				position:absolute;
				top: 40%;
				left: 40%;
				display: none;
				i{
					color: white;
					text-align: center;
				}
			}
		}
	}
	.testimonials{
		.owl-pagination{
				display: none !important;
			}
		.test-heading{
			.heading();
			.customNavigation{
				a.btn{
					margin-right: -20px;
				}
				float: right;
				i{
					border-radius: 3px;
					padding: 5px;
					font-size: 10px;
					background-color: #bfbfbf;
					color: white;
					text-align: center;
					&:hover{
						background-color: black;
					}
				}
			}
		}
		.test-item{
			.test-item-inner{
				position: relative;
				background-color: #e5e5e5;
				padding: 10px;
				margin-top: 15px;
				i{
					color: white;
					font-size: 30px;
				}

			}&:before{
				content: '';
				width: 0px;
				height: 0px;
				position: absolute;
				bottom: 55px;
				width:0px;
				left: 45%;
				opacity: 1;
				border-left:  20px solid transparent;
				border-right: 20px solid transparent;
				border-top: 20px solid #e5e5e5;
			}
			.author-item{
				margin-top: 30px;
				text-align: center;
				h4{
					text-transform: uppercase;
					color: #805fb3;
					font-size: 13px;
					font-weight: bold;
				}
				i{
					font-size: 12px;
				}
			}
		}
	}
}
/*css for meet the team*/
#teams{
	background-color: #151515;
	.team-heading{
		.heading();
		text-align: center;
		span{
			color: white;
			padding-top: 6px;
		}
		.customNavigation{
			a.btn{
				padding-bottom: 15px;
			}				
			i{
				border-radius: 3px;
				padding: 5px;
				font-size: 10px;
				background-color: #bfbfbf;
				color: black;
				text-align: center;
				&:hover{
					background-color: #585858;
				}
			}
		}	
	}
	.team-item{
		.owl-pagination{
			display: none !important;
		}
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		.item{
			margin-right: 5px;
			.members{
				img{
				-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	    		filter: grayscale(100%);
		    		&:hover{
					filter: none;
					}
				}
				.member-infor{
					padding-top: 10px;
					text-align: center;
					span{
						font-size: 13px;
						text-transform: uppercase;
						color: #ac6ed4;
						font-weight: bold;
					}
					i{
						font-size: 13px;
						color: #fff;
					}
				}
			}	
		}
		
	}
}
#aboutus{
	.about-heading{
		.heading();
		button{
			float: right;
			text-transform: uppercase;
			padding: 10px;
			border-right: 5px;
			border: none;
			background-color: #7e5eb1;
			box-shadow: inset 0 0 0 1px #563f7a,inset 0 -15px 30px #261247; 
			color: white;
			font-size: 12px;
			font-weight: bold;
		}
	}
	.ab-intro{
		padding-top: 20px;
		padding-bottom: 30px;
		p{
			font-size: 13px;
			color: #7e7e7e;
			line-height: 150%;
			overflow: hidden;
		}
	}
	.ab-logo{
		display: flex;
		justify-content:space-between;
		padding-bottom: 30px;

	}
}
.ft-heading(){
	span{
		font-size: 20px;
		text-transform: uppercase;
		color: white;
		font-weight: bold;
	}
	h5{
		color: #676767;
		font-size: 13px;
	}
}
#footer{
	width: 100%;
	background-color: #303030;
	padding-top: 30px;
	.ft-navigation{
		.ft-nav-heading{
			.ft-heading();
		}	
		ul.ft-nav-item{
			margin-left: -40px;
			margin-top: 20px;
			li{
				list-style-type: none;
				a{
					color: white;
					font-size: 14px;
					text-decoration: none;
					font-weight: bold;
					&:hover{
						color: #ac6ed4;
					}
				}
			}
			hr{
				color: grey;
			}
		}	
	}
	.ft-facebook{
		.ft-fb-heading{
			.ft-heading();
		}
		.ft-fb-item{
			iframe{
				width: 100%;
				height: 265px;
			}
			
			margin-top: 20px;
		}
	}
	.ft-twitter{
		.ft-tw-heading{
			.ft-heading();
			.customNavigation{
				float: right;
				margin-right: 20px;
				a.btn{
					margin-right: -20px;
				}
				i{
					border-radius: 3px;
					padding: 5px;
					font-size: 10px;
					background-color: #bfbfbf;
					color: #000;
					text-align: center;
					&:hover{
						background-color: #5c5c5c;
					}
				}
			}

		}
		.ft-tw-item{
			.owl-pagination{
				display: none !important;
			}
			margin-top: 20px;
			p{
				color: white;
				font-size: 13px;
				span{
					font-size: 11px;
					color: grey;
				}
			}
			img{
				margin-bottom: 20px;
			}
		}
	}
	.ft-contact{
		.ft-ct-heading{
			.ft-heading();
		}
		.ft-ct-item{
			margin-top: 20px;
			p{
				font-size: 13px;
				color: #fff;
				a{
					text-decoration: none;
					text-transform: uppercase;
					color: #70508c;
				}

			}
			img{
				margin-bottom: 20px;
			}
		}
	}
	#back-to-top{
		text-align: center;
		
		z-index: 9999;

		i{
			color: #676767;
			background-color: #191919;
			font-size: 20px;
			padding: 5px 20px 5px 20px;	
		}
	}
	#back-to-top.show{
		opacity: 1;
	}
}
#ft-below{
	width: 100%;
	background-color: #191919;
	padding-bottom: 30px;
	.ft-bl-left{
		p{
			color: grey;
			font-size: 12px;
			span{
				font-weight: bold;
				color: white;
			}
		}
	}
	.ft-bl-right{
		p{
			font-size: 12px;
			font-weight: bold;
			color: white;
			span{
				color: grey;
			}
		}
	}
}
/*make responsive for home page*/


/*responsive with the size of container: 420px*/
@media (min-width: 320px) and (max-width : 767px){}
/*responsive with the size of container: 768px*/
@media (max-width : 992px) and (min-width: 768px){
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
		margin-left: 130%;
	}
	.navbar-default .navbar-nav>li>a{
		padding: 10px;
	}
	.navbar-right{
		margin-right: 15px;
	}
	#slider .container-fluid .container .controls{
		display: none;
	}
	.carousel-caption{
		display: none;
	}
	#slider .container-fluid .container .right-slider{
		right: 270px;
		top: 30%;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img{
		height: 540px;
		width: 100%;
	}
	#slider .container-fluid .container .right-slider .right-slider-inner ul li{
		padding: 6px;
	}
	#slider .container-fluid .container .header-socials{
		right: 300px;
		top: 92%;
	}
	#services{
		background: none;
	}
	#services .service-item .sv-image{
		margin-top: 25px;
		margin-bottom: 25px;
	}
	#services .service-heading p{
		margin-top: 10px;
	}
	#services .service-item span{
		font-size: 15px;
	}
	#news .all-item{
		display: flex;
		flex-direction: column;
	}
	#news .all-item .new-middle-line{
		display: block;
		margin-bottom: 20px;
	}
	#news .all-item .new-item p{
		font-size: 12px;
	}
	#aboutus .ab-intro p{
		line-height: 190%;
	}
	#aboutus .ab-logo{
		display: none;
	}
	.col-md-4.intro-1{
		display: none;
	}
	.col-md-12.line-ab{
		display: none;
	}
	.ft-navigation{
		display: none;
	}
	.ft-facebook{
		display: none;
	}
	#ft-below .ft-bl-right p{
		float: right;
	}

}
/*responsive with the size of container: 920px*/
@media (min-width : 992px) and (max-width: 1140px){
	.navbar-nav>li>a{
		padding: 10px;
	}
	.navbar>.container .navbar-brand{
		margin-left: -15px;
		padding-left: 0px;
		padding-top: 10px;
	}
	.carousel-caption{
		left: 0;
	}
	#slider .container-fluid .container .controls{
		top: 85%;
		left: -17px;
	}
	.carousel-caption h2{
		font-size: 75px;
	}
	#slider .container-fluid .container .right-slider{
		right: 25px;
	}
	#slider .container-fluid .container .right-slider .right-slider-inner ul li{
		padding: 5px;
	}
	#slider .container-fluid .container .header-socials{
		right: 15px;
	}
	#services{
		background: none;
	}
	#news .all-item .new-item span{
		font-size: 15px;
	}
	#news .new-heading h4{
		font-size: 12px;
	}
	#news .all-item .new-item p{
		margin-right: 20px;
	}
	#news .gallery .gallery-item .item .row-image{
		margin-right: 0px;
	}
	#aboutus .ab-logo{
		margin-left: -100px;
		margin-right: -100px;
	}
	#footer .ft-navigation ul.ft-nav-item{
		img{
			width: 100%;
		}
	}
}
/*responsive for the screen 1140px*/
@media  (min-width: 1141px){
	.navbar-nav>li>a{
		padding: 10px;
	}
	#slider .container-fluid .container .controls{
		top: 75%;
	}
	#news .new-item{
		padding-right: 15px;
	}
	#news .new-heading h4{
		font-size: 12px;
	}
	#news .all-item .new-item span{
		font-size: 15px;
	}
	#news .gallery .gallery-item .item .row-image{
		margin-right: 0px;
	}
	#teams .team-item .item .members img{
		width: 85%;
	}
	#aboutus .ab-logo img{
		padding-right: 20px;
	}
}